from fastapi import APIRouter, Request, Depends
from fastapi.responses import HTMLResponse
from app.templates_config import templates
from app.database import get_db
from app.models import Product
from app.dependencies import get_current_user
from sqlalchemy.orm import Session

router = APIRouter(tags=["Pages"])


@router.get("/", response_class=HTMLResponse)
def home(request: Request):
    return templates.TemplateResponse(request=request, name="home.html")


@router.get("/pages/login", response_class=HTMLResponse)
def login_page(request: Request):
    return templates.TemplateResponse(request=request, name="login.html")


@router.get("/pages/register", response_class=HTMLResponse)
def register_page(request: Request):
    return templates.TemplateResponse(request=request, name="register.html")


@router.get("/products", response_class=HTMLResponse)
def products_page(request: Request, db: Session = Depends(get_db)):
    products = db.query(Product).all()
    return templates.TemplateResponse(
        request=request, 
        name="products.html",
        context={"products": products}
    )


@router.get("/pages/cart", response_class=HTMLResponse)
def cart_page(request: Request, current_user = Depends(get_current_user)):
    return templates.TemplateResponse(request=request, name="cart.html")